* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    background-image: url('./img/Banner.png');
    height: 100vh;
    background-size: cover;
    display: flex;
    overflow: auto;
    align-items: center;
    
}

nav {
    position: fixed;
    top: 5vh;
    left: 30vw;
}
.nav-link {
    color:cornsilk;
    margin-right: 5vw;
}
.nav-link.active {
    background-color: rgb(116, 103, 103) !important;
}

.container-products {
    background-color: rgba(216, 207, 207, 0.356);
    width: 90%;
    height: 70%;
    position: fixed;
    margin-top: 10vh;
    margin-left: 5%;
    align-items: center;
    padding: 2em;
    overflow-y: hidden !important;
    border-radius: 5px;
    visibility: hidden;
    display: inline-flex;
    overflow: auto;
    
}

.container-products.active {
    visibility: visible;
    transition: 2s ease all;
    
}

.cards{
    background-color: #c5c4c49a;
    margin: 9px 10px 10px 10px;
    height: 100%;
    padding: .5em;
    align-items: center ;
    justify-content: center;
    display: inline;
    border-radius: 5px;
    
}



.cards-img-height {
    height: 9em !important;
    width: 13vw;
}

.card-title{
    font-size: 1.5em;
}

.container-products::-webkit-scrollbar {
    width: 1em;
  }
   
  .container-products::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .container-products::-webkit-scrollbar-thumb {
    background-color: rgba(184, 174, 174, 0.651);
    
  }

  .social{
      font-size: 2em;
      margin-top: 92vh;
      margin-left: 85vw;
  }

  .social a {
      color:#bbbbbba8;
      margin-left: .4em;
  }


  .social a:hover {
    color:#8f8c8ca8;
    transition: .7s ease all;
}

/*POPUP CART*/

.overlay-cart {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay-cart.active {
    visibility: visible;
    transition: 2s ease all;
}

.popup-cart{
    background-color: #BBBBBB;
    border-radius: 5px;
    padding: 1em;
    align-items: center;
    justify-content: center;
    max-height: 70%;
    overflow: auto;
    
}
.popup-cart::-webkit-scrollbar {
    width: 1em;
  }
   
  .popup-cart::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .popup-cart::-webkit-scrollbar-thumb {
    background-color: rgba(129, 123, 123, 0.774);
    
  }




















/*POPUP*/
.overlay {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.overlay.active {
    visibility: visible;
    transition: 2s ease all;
}

.popup{
    background-color: #f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .5);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 40vw;
    opacity: 0;
    transition: .5s ease all;
    transform: scale(.7);
}

.btn-close-popup {
font-size: 1.3em;
line-height: 1.3em;
display: block;
text-align: right;
color:#BBBBBB !important;
transition: .7s ease all;
margin-bottom: 1.5vh;
}
.btn-close-popup:hover {
color: #000 !important;
}

.popup h3{
    font-size: 2.3em;
    font-weight: 200;
    margin-bottom: 1.5vh;
}
.popup h5 {
    margin-bottom: 1.5vh;
} 

.popup form .contenedor-inputs {

}
.popup form .contenedor-inputs input {
    width: 100%;
    margin-bottom: 2vh;
    height: 8vh;
    font-size: 1.4em;
    text-align: center;
    border: 1px solid #BBBBBB;
}
.popup form .btn-submit {
    padding: 0 1vw !important;
    height: 5vh !important;
    color: #fff !important;
    background-color: #5460ca8e !important;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    cursor: pointer;
    transition: .5s ease all !important;
}

.popup form .btn-submit:hover {
background-color: #5e68b9cc !important;
}


/* POPUP ANIMATION*/

.popup.active {
    opacity: 1;
    transform: scale(1);
}